.header {
	position: relative;
}
.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.logo {
	width: 199px;
	height: 51px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 980px) {
	.logo {
		margin-left: 20px;
	}
}

.item {
	margin-left: 50px;
}
.item__login {
	margin-left: 25px;
}
