.webcam {
	position: relative;
	margin: 0px 10px 15px 10px;
}

.screenShot {
	display: block;
	width: 470px;
	height: 264px;
	outline: 1px rgba(255, 255, 255, 0.068) solid;
	border-radius: 10px;
	overflow: hidden;
}

.img {
	width: 470px;
	height: 264px;
	object-fit: cover;
	object-position: center center;
}

.title {
	opacity: 30%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.8px;
	padding: 10px;
	position: absolute;
}

@media screen and (max-width: 510px) {
	.screenShot,
	.img {
		width: 400px;
		height: 220px;
	}
	.title {
		font-size: 12px;
		padding: 7px;
	}
}
@media screen and (max-width: 435px) {
	.screenShot,
	.img {
		width: 340px;
		height: 180px;
	}
}
